div(class="container")
  h1(class="page-header") {{post.title}}
  p {{post.text}}

//initialize ripple       
script(type="text/javascript").
        $(document).ready(function(){
            $.material.init();
        }); 