div(class="container")
  h1(class="page-header")
    {{selectedPost.title}} 
  h4
    {{selectedPost.text}}

  div(ng-show="selectedPost.photo !=''" class="col-md-4 col-xs-6 col-md-offset-4")
    image(ng-src="{{selectedPost.photo}}" class="img-responsive")
